/* File: src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom styles if needed */


/* File: src/app/globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}
:root {
  --background: #f9fafb; /* Light gray background */
  --foreground: #111827; /* Dark gray text */
}
